@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Roboto Mono', sans-serif;
}
a:link {
   font-size: 20px;
   color: white;
}
a:visited {
   font-size: 20px;
  color: pink;
}
      
body{
     background-color: black;
    font-family: 'Roboto Mono';
}
.root-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.root-container h1{
    font-size: 100px;
    margin: 50px 0px;
    text-align: center;
   background: -webkit-linear-gradient(#00FFA3, #03E1FF, #DC1FFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   font-family: 'VT323';
}
.img-wrapper{
    height: 400px;
    width: 400px;
    background: url(../img/1.gif) no-repeat center center / cover;
   margin-left: auto;
   margin-right: auto;
}
.button{
    text-align: center;
}
.button button{
    background: #92cd41;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    font-family: 'VT323';
    text-decoration: none;
    color: #fff;
    box-shadow: inset -4px -4px 0 0 #4aa52e;
    cursor: pointer;
}
.button button:hover{
    background-color: #4aa52e;
}
.faqs, .toadmap{
    height: auto;
    width: 700px;
    border: 0px solid white;
    padding: 25px 25px 25px 25px;
    color: white;
    margin-bottom: 50px;
}
.faqs h2, .toadmap h2{
    font-size: 40px;
    letter-spacing: 2px;
}
.faqs p{
    font-size: 24px;
    line-height: 20px;
    font-family: 'Roboto Mono', sans-serif;
    letter-spacing: 3px;
}
.faqs span{
    font-size: 14px;
}
.faq-img{
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
}
.faq-img img{
    width: 150px;
    height: 110px;
    margin: 0 auto;
}
.in-progress-list{
    padding-left: 12px;
}
.in-progress-list li{
    padding: 5px 0px;
    font-size: 21px;
    font-family: 'VT323', monospace;
}
.joining{
    padding: 20px 0px 20px 0px;
    text-align: center;
}
.joining h2{
    font-size: 28px;
    color: white;
    letter-spacing: 3px;
}
.joining h3{
    color: white;
    font-size: 18px;
}
.joining a{
    margin-left: 10px;
}
.joining img{
    width: 50px;
}
.social-icons{
    padding: 0px 0px;
}
@media (max-width:500px){
    .img-wrapper, .faqs, .toadmap {
        width: 100%;
    }
    .faqs, .toadmap{
        padding: 25px 20px 25px 20px;
    }
    .root-container h1{
        font-size: 75px;
    }
}
@media (max-width:320px){
    .faqs, .toadmap{
        padding: 10px 0px 10px 0px;
    }
    .root-container h1{
        font-size: 40px;
    }
}
